<div class="relative py-16 bg-gray-100">
	<div class="relative container m-auto px-6 text-gray-900 md:px-12 xl:px-40">
		<div class="m-auto md:w-8/12 lg:w-6/12 xl:w-6/12">
			<div class="rounded-xl bg-white shadow-xl">
				<!-- <div class="p-6 sm:p-16" *ngIf="isLoginEmailForm; else emailForm">
					<div class="space-y-4">
						<img
							src="../../../../../../assets/images/xabola_logo.png"
							loading="lazy"
							class="w-20"
							alt="tailus logo"
						/>
						<h2 class="mb-8 text-2xl text-cyan-900 font-bold">Login de administración <br /></h2>
					</div>
					<div class="mt-16 grid space-y-4">
						<button
							class="group h-12 px-6 border-2 border-gray-300 rounded-full transition duration-300 hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100"
						>
							<div class="relative flex items-center space-x-4 justify-center">
								<img
									src="https://tailus.io/sources/blocks/social/preview/images/google.svg"
									class="absolute left-0 w-5"
									alt="google logo"
								/>
								<span
									class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition duration-300 group-hover:text-blue-600 sm:text-base"
									>Continue con Google</span
								>
							</div>
						</button>
						<button
							class="group h-12 px-6 border-2 border-gray-300 rounded-full transition duration-300 hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100"
						>
							<div class="relative flex items-center space-x-4 justify-center" (click)="emailHandler()">
								<span
									class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition duration-300 group-hover:text-blue-600 sm:text-base"
									>Continuar con email</span
								>
							</div>
						</button>
					</div>

					<div class="mt-32 space-y-4 text-gray-600 text-center sm:-mb-8">
						<p class="text-xs">
							Procediendo, you estas de acuerdo con nuestros
							<a href="#" class="underline">Terminos de uso</a> y confirmas que has leido nuestra
							<a href="#" class="underline">Politica de Privacidad</a>.
						</p>
					</div>
				</div> -->

				<ng-container  >
		<!-- 			<div class="flex md:w-1/2 justify-center py-10 items-center bg-white">-->
                        <form class="m-16 p-6" [formGroup]="loginFormGroup" (ngSubmit)="loginFormSubmit()"> 
                            <h1 class="text-gray-900 font-bold text-2xl mb-1">Hola!</h1>
                            <p class="text-sm font-normal text-gray-900 mb-7">Introduzca usuario y contraseña</p>
                            <!-- <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-5 w-5 text-gray-400"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                        clip-rule="evenodd"
                                    />
                                </svg>
                                <input
                                    class="pl-2 outline-none border-none"
                                    type="text"
                                    name=""
                                    id=""
                                    placeholder="Nombre completo"
                                />
                            </div> -->
                         <!--    <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-5 w-5 text-gray-400"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M12 11c0 3.517-1.009 6.799-2.753 9.571m-3.44-2.04l.054-.09A13.916 13.916 0 008 11a4 4 0 118 0c0 1.017-.07 2.019-.203 3m-2.118 6.844A21.88 21.88 0 0015.171 17m3.839 1.132c.645-2.266.99-4.659.99-7.132A8 8 0 008 4.07M3 15.364c.64-1.319 1-2.8 1-4.364 0-1.457.39-2.823 1.07-4"
                                    />
                                </svg>
                                <input
                                    class="pl-2 outline-none border-none"
                                    type="text"
                                    name=""
                                    id=""
                                    placeholder="Usuario"
                                />
                            </div> -->
                            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4 mt-6">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-5 w-5 text-gray-900"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                                    />
                                </svg>
                                <input
                                    class="pl-2 outline-none border-none text-gray-900" 
                                    type="email"
                                    name="email"
                                    placeholder="Email"
                                    formControlName="email"
                                />
                            </div>
                            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mt-6">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-5 w-5 text-gray-900"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                        clip-rule="evenodd"
                                    />
                                </svg>
                                <input
                                    class="pl-2 outline-none border-none"
                                    type='password'
                                    name="password"
                                    placeholder="Contraseña"
                                    formControlName="password"
                                />
                            </div>
                            <button
                                type="submit"
                                class="block w-full bg-indigo-600 mt-16 py-2 rounded-2xl text-white font-semibold mb-2 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed hover:bg-indigo-700 focus:outline-none focus:ring active:bg-indigo-800"  
                                [disabled]="!(enableSubmitButton$|async)"

                            >
                                Entrar
                            </button>
                            <span class="text-sm ml-2 hover:text-blue-500 cursor-pointer">¿Olvidaste la contraseña?</span>
                        </form>

				</ng-container>
			</div>
		</div>
	</div>
</div>
