<section class="customization">
    <div class="customization__container">
      <div class="badge__container">
          <div class="badge__list">
          
      
          </div>
          <div class="badge__summary">
          
            <ul>
                <li>
                    <div class="element-selected__container">
                        <div class="element-selected__info">
                            <h2 class="element-selected__type"></h2>
                            <h3 class="element-selected__name"></h3>
                            <h3 class="element-selected__detail"></h3>
                        </div>
                        <div class="element-selected__cost">
                            <span>EUR</span>
                            <h3 class="element-selected__price"></h3>
                        </div>
                 
                    </div>
                 
                </li>
            </ul>
      
          </div>
          <div class="badge__cancel">
              <button></button>
      
          </div>
          <div class="badge__contact">
            <button></button>
      
          </div>
          
      
      </div>
  
      <div class="selection__container">
          <div class="stepper">
          
          
      
          </div>
          <div class="selection__container">
          //lista o select
      
          </div>
          
      
      </div>
  
    </div>
  </section>
  <!-- https://codepen.io/steveschoger/pen/YbQXGq -->
