<section class="customization">
	<div class="customization__container">
		<div class="badge__container" *ngIf="(houseElementsSelected$ | async)?.length">
			<h1 class="badge__title">Resumen de seleccion</h1>

			<ul class="badge__list" *ngFor="let element of houseElementsSelected$ | async">
				<li class="badge__item">
					<div class="badge__item__description">
						<h2 class="badge__item__name">{{ element['name'] }}</h2>
						<h3 class="badge__item__type">{{ element['description'] }}</h3>
					</div>
					<div class="badge__item__detail-price">
						<span class="badge__item__currency">EUR</span>
						<h3 class="badge__item__amount">{{ element['value'] }}</h3>
					</div>
				</li>
			</ul>

			<div class="badge__summary">
				<div class="badge__summary__total">
					<h1 class="badge__summary__total__title">Total</h1>
				</div>
				<div class="badge__summary__cost">
					<span class="badge__summary__currency">EUR</span>
					<h3 class="badge__summary__amount">{{ totalCounter$ | async }}</h3>
				</div>
			</div>
			<div class="badge__actions">
				<button class="button--cancel" (click)="cancelSelectionProcess()">Cancelar</button>
			</div>
		</div>

		<div class="selection__container">
			<div class="stepper">
				<app-stepper [step]="selectionOrder$ | async"></app-stepper>
			</div>
			<div class="selection__list">
				<app-product-card
					[products]="listOfSelectables$ | async"
					[selectedIdProducts]="idsSelected$|async"
					(productSelected)="selectProductHandler($event)"
				></app-product-card>
			</div>

			<div class="selection__actions">
				<button
					class="button--next"
					*ngIf="selectionOnProcess"
					(click)="nextHandler()"
					[disabled]="disableButtonNext$ | async"
				>
					Siguiente
				</button>
			</div>
		</div>
	</div>
</section>
