<section class="my-8 py-8 text-gray-900">
	<div class="grid max-w-6xl grid-cols-1 px-8 mx-auto lg:px-8 md:grid-cols-2 md:divide-x">
	  <div class="py-8 md:py-0 md:px-8">
		<h1 class="text-5xl font-bold">Contacta</h1>
		<p class="pt-4 pb-6">Rellena el formulario</p>
		<div class="space-y-6">
		  <p class="flex items-center">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 mr-4 sm:mr-8">
			  <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
			</svg>
			<span>Calle baja 5, Piedralavés</span>
		  </p>
		  <p class="flex items-center">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 mr-4 sm:mr-8">
			  <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path>
			</svg>
			<span>+34 600 00 00</span>
		  </p>
		  
		  <p class="flex items-center">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 mr-4 sm:mr-8">
			  <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
			  <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
			</svg>
			<span>otro.taller@gmail.com</span>
		  </p>
		</div>
	  </div>
	  <form novalidate="" class="flex flex-col py-8 space-y-8 md:py-0 md:px-8 ng-untouched ng-pristine ng-valid" >
		<label class="block">
		  <span class="mb-2 font-bold">Nombre</span>
		  <input type="text" required="required" placeholder="Javier Legina" class="block p-2 w-full rounded-md shadow-sm  bg-gray-100">
		</label>
		<label class="block">
		  <span class="mb-2 font-bold">Correo electrónico</span>
		  <input type="email" required="required" placeholder="javierlegina@gmail.com" class="block  p-2 w-full rounded-md shadow-sm  bg-gray-100">
		</label>
		<label class="block">
			<span class="mb-2 font-bold">Motivo de contacto</span>
			<select class="block  p-2 w-full rounded-md shadow-sm  bg-gray-100" required="required" name="integration[city_id]" id="integration_city_id" >
				<option value="info">Información</option>
				<option value="presupuesto">Presupuesto</option>
			  </select>
		  </label>
		<label class="block">
		  <span class="mb-2 font-bold">Mensaje</span>
		  <textarea rows="4" required="required" class="block  p-2 w-full rounded-md bg-gray-100"></textarea>
		</label>
		<button type="button" class="self-center px-10 py-3 text-xl rounded hover:ring  bg-indigo-600 text-gray-50 hover:ring-indigo-600">Enviar</button>
	  </form>
	</div>
  </section>