<form [formGroup]="adminActionFormGroup" class="py-6 px-4 mx-auto max-w-md lg:py-16">
	<label for="action" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
		>Selecciona que acción deseas relizar</label
	>
	<select
		formControlName="action"
		class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
	>
		<option value="add" selected>Añadir</option>
		<option value="edit">Editar</option>
		<option value="delete">Eliminar</option>
	</select>
</form>

<section class="bg-gray-100 py-8">
	<ng-container [ngSwitch]="actionSelected$ | async">
		<ng-container *ngSwitchCase="'add'">
			<!-- Componente para la acción de creación -->
			<app-create-product-form></app-create-product-form>
		</ng-container>

		<ng-container *ngSwitchCase="'edit'">
			<!-- Componente para la acción de edición -->
			<app-edit-product-form></app-edit-product-form>
		</ng-container>

		<ng-container *ngSwitchCase="'delete'">
			<!-- Componente para la acción de eliminación -->
			<app-delete-product-form></app-delete-product-form>
		</ng-container>

		<ng-container *ngSwitchDefault>
			<!-- Componente por defecto -->
			<app-create-product-form></app-create-product-form>
		</ng-container>
	</ng-container>
</section>
